In [1]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
import os

In [2]:
connection_string = 'mysql+mysqlconnector://root:insertpassword@localhost:3306/painting'
engine = create_engine(connection_string)

In [3]:
df = pd.read_csv('D:\\famous_paintings\\artist.csv', encoding = 'unicode_escape')
df.to_sql('artist', con=engine, if_exists='replace', index=False)
#output is size of the table.

421

In [4]:
df = pd.read_csv('D:\\famous_paintings\\canvas_size.csv', encoding = 'unicode_escape')
df.to_sql('canvas_size', con=engine, if_exists='replace', index=False)

200

In [5]:
df = pd.read_csv('D:\\famous_paintings\\image_link.csv', encoding = 'unicode_escape')
df.to_sql('image_link', con=engine, if_exists='replace', index=False)

14775

In [6]:
df = pd.read_csv('D:\\famous_paintings\\museum.csv', encoding = 'unicode_escape')
df.to_sql('museum', con=engine, if_exists='replace', index=False)

57

In [7]:
df = pd.read_csv('D:\\famous_paintings\\museum_hours.csv', encoding = 'unicode_escape')
df.to_sql('museum_hours', con=engine, if_exists='replace', index=False)

351

In [8]:
df = pd.read_csv('D:\\famous_paintings\\subject.csv', encoding = 'unicode_escape')
df.to_sql('subject', con=engine, if_exists='replace', index=False)

6771

In [9]:
df = pd.read_csv('D:\\famous_paintings\\product_size.csv', encoding = 'unicode_escape')
df.to_sql('product_size', con=engine, if_exists='replace', index=False)

110347

In [10]:
df = pd.read_csv('D:\\famous_paintings\\work.csv', encoding = 'unicode_escape')
df.to_sql('work', con=engine, if_exists = 'replace', index =False)

14776

In [11]:

##Another way of loading the data in sql using os library and for loop

folder_path = r'D:\famous_paintings'  

for filename in os.listdir(folder_path):   #Loop through each file in folder.
    
    if filename.endswith('.csv'):      
       
        file_path = os.path.join(folder_path, filename)
        
       
        df = pd.read_csv(file_path)

        table_name = os.path.splitext(filename)[0]  #file name only no .csv

        df.to_sql(table_name, con=engine, if_exists='replace', index=False)

        print(f"Data from {filename} loaded into {table_name} table successfully.")

Data from artist.csv loaded into artist table successfully.
Data from canvas_size.csv loaded into canvas_size table successfully.
Data from image_link.csv loaded into image_link table successfully.
Data from museum.csv loaded into museum table successfully.
Data from museum_hours.csv loaded into museum_hours table successfully.
Data from product_size.csv loaded into product_size table successfully.
Data from subject.csv loaded into subject table successfully.
Data from work.csv loaded into work table successfully.

In [12]:
connection = mysql.connector.connect(   #Performing SQL functions in python.
    host='localhost',
    user='root',
    password='insertpassword',
    database='painting'
)

In [13]:
cursor = connection.cursor()

In [14]:
cursor.execute("select count(*) from museum")
results = cursor.fetchall()
print(results[0][0])

57